node_modules/
test-results/
playwright-report/
playwright/.cache/
.env

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
node_modules/
test-results/
screenshots/
.env*
datavaerese_frontend_&_backend/
dv-frontend-backend/