# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgres://<db_master_username>:<db_password>@127.0.0.1:5432/dataverse-dev"

AUTH0_BASE_URL='http://localhost:3000' # or 'http://localhost' for production
AUTH0_DOMAIN='originhealth.us.auth0.com'
AUTH0_CLIENT_ID='' # ID of the Auth0 Application
AUTH0_CLIENT_SECRET='' # Client secret of the Auth0 Application
AUTH0_AUDIENCE='origin-health-ai-dataverse-api' # API Audience of the Auth0 Application
AUTH0_DATABASE_CONNECTION='Dataverse-User-DB' # User database associated with the Auth0 Application

AUTH0_SECRET='xxxxxxxxxxxxxxxxxxxxxx' # Secret to generate hash for cookie
AUTH0_COOKIE_NAME='dataverse-auth0-cookies' # Name for auth0 cookies


AWS_S3_BUCKET=origin-ai-medical-data
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
API_URL='http://localhost:3000'
AWS_S3_BUCKET_THUMBNAIL_IMAGES=