@tailwind base;

@layer base {
  /* SCROLL BAR */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #4E4B48;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 56.25px;
    letter-spacing: 0em;
  }
  h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 37.5px;
    letter-spacing: 0em;
  }
  h3 {
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 30.47px;
    letter-spacing: 0em;
  }
  h4 {
    font-size: 17px;
    font-style: normal;
    font-weight: 900;
    line-height: 19.92px;
    letter-spacing: 0em;
  }
  h5 {
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 15.23px;
    letter-spacing: 0em;
  }
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .subheading-h1 {
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
  }

  .subheading-h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
  }

  .bold-p {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0em;
  }

  .btn {
    @apply flex flex-row justify-center items-center gap-2 min-h-0 h-10 font-bold normal-case leading-[18.75px] px-4;
  }
  .btn-primary {
    @apply border-0 bg-primary-700 hover:bg-primary-500 text-neutral-100;
  }
  .btn-neutral {
    @apply border-0 bg-neutral-700 hover:bg-neutral-500 text-neutral-100;
  }
  .btn-secondary {
    border: 1.4px solid #76baf7;
    box-sizing: border-box;
    color: #76baf7;
  }
  .btn-accept{
    @apply border-0 bg-green-800 text-neutral-100 hover:bg-green-700
  }
  .btn-reject{
    @apply border-0 bg-red-600 hover:bg-red-500 text-neutral-100
  }
}